@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    @apply font-sans bg-white dark:bg-[#121212] text-black dark:text-white transition-colors duration-300;
  }
  .dark {
    --accent-orange: #ff9f1c;
    --accent-green: #2ecc71;
  }
}
